.flex-container {
    width: 60%;
    margin: 0 auto;
    
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.generic {
    flex: 1 0 49%;
}

.generic h4, .horario h4 {
    width: 100%;
    background-color: rgba(216, 216, 216, 0.541);
    text-align: center;
    text-transform: uppercase;
    color: var(--main-color);
    padding: 10px 0;
}

.horario {
    flex: 1 0 49%;
    margin-left: 5px;
}

.custom-field label {
    display: inline-block;
    width: 30% !important;
    margin: 10px 0;
    
}

.custom-field input {
    width: 65%;
}

.banderas {
    display: flex;
}

.banderas * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.numpistas {
    display: inline-block;
    margin: 15px 0;
}

.negras span, .rojas span, .azules span, .verdes span {
    display: inline-block;
    margin: 10px 0;
    font-size: 2rem;
}

.negras span {
    color: black;
}

.rojas span {
    color: red;
}

.azules span {
    color: blue;
}

.verdes span {
    color: green;
}

#parking {
    width: 1rem !important;
    height: 1rem !important;
}

.parking {
    margin-top: 15px;
}