.flex-container {
    width: 60%;
    margin: 0 auto;
    
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.generic {
    flex: 1 0 49%;
}

.generic h4, .calendar h4 {
    width: 100%;
    background-color: rgba(181,181,181,.3);
    text-align: center;
    text-transform: uppercase;
    color: var(--main-color);
    padding: 10px 0;
}

.calendar {
    flex: 1 0 49%;
    margin-left: 5px;
}

.custom-field label {
    display: inline-block;
    width: 30% !important;
    margin: 10px 0;
    
}

.custom-field input {
    width: 65%;
}

.percentages {
    display: flex;
}

.percentages * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.percentages-title {
    display: inline-block;
    margin: 15px 0;
}

.percentage_1 span, .percentage_2 span, .percentage_3 span {
    display: inline-block;
    margin: 10px 0;
    font-size: 2rem;
}

.percentage_1 span {
    color: red;
}

.percentage_2 span {
    color: blue;
}

.percentage_3 span {
    color: green;
}

.photography_level {
    margin-top: 15px;
}

#only_adults {
    width: 1rem !important;
    height: 1rem !important;
}