.flex-container {
    width: 60%;
    margin: 0 auto;
    
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.generic {
    flex: 1 0 49%;
}

.generic h4, .calendar h4 {
    width: 100%;
    background-color: rgba(181,181,181,.3);
    text-align: center;
    text-transform: uppercase;
    color: var(--main-color);
    padding: 10px 0;
}

.calendar {
    flex: 1 0 49%;
    margin-left: 5px;
}

.custom-field label {
    display: inline-block;
    width: 30% !important;
    margin: 10px 0;
    
}

.custom-field input {
    width: 65%;
}

.percentages {
    display: flex;
}

.percentages * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.percentages-title {
    display: inline-block;
    margin: 15px 0;
}

.photography_level span, .natural_landscape span, .seascape span, .arquitecture span {
    display: inline-block;
    margin: 10px 0;
    font-size: 2rem;
}

.photography_level span {
    color: black;
}

.natural_landscape span {
    color: red;
}

.seascape span {
    color: blue;
}

.arquitecture span {
    color: green;
}

#only_adults {
    width: 1rem !important;
    height: 1rem !important;
}

.only_adults {
    margin-top: 15px;
}